* { 
    border: 0;
    padding: 0;
    margin: 0;
}

#topBar {
    background: yellowgreen;
}

@media (min-width: 750px) {
    #topBar {
        height: 50px;
    }
}

@media (min-width: 1000px) {
    #topBar {
        height: 100px;
    }
}