/**************************************************
General Items
***************************************************/
body {
    background-color: red;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  color: black;
  font-family: "Lucida Sans", "Helvetica", "Arial", "sans-serif";
}

#screen {
  background-color: RGB(248, 248, 248);
  background-image: linear-gradient(RGB(228, 228, 228), RGB(248, 248, 248));
  display: flex;
  flex-direction: column;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

/**************************************************
Header
***************************************************/
#header {
  display: flex;
  height: 80px;
  flex-direction: column;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: lightpink;
}

    #headerImageContainer {
        order: 1;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: RGB(66, 102, 160);
        background-image: linear-gradient(
        to right,
        RGB(66, 102, 160),
        RGB(83, 118, 174)
        );
    }

        #headerImageContainer img {
            height: 90%;
        }

#progressBarContainer {
    display: flex;
    width: 100%;
    order: 2;
    align-items: center;
    justify-content: center;
    background-color: RGB(228, 228, 228);
}

    #progressBarBackground {
        width: 90%;
        height: 20px;
        padding: 1px 2px;
        margin: 10px 0px;
        text-align: center;
        border-radius: 12px;
        border: 1px solid RGB(200, 200, 200);
        background-color: RGB(248, 248, 248);
    }

    #progressBar {
        background-color: RGB(242, 105, 36);
        background-image: linear-gradient( to right, RGB(242, 105, 36), RGB(255, 125, 56) );
        border-radius: 10px;
        min-width: 20px;
        height: 100%;
    }


/**************************************************
Main Content
***************************************************/
#content {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  margin-top: 110px;
}

    #contentContainer {
        display: flex;
        flex-direction: column;
        width: 90%;
    }


/**************************************************
Bottom Buttons (Next, etc.)
***************************************************/
#buttonContainer {
    display: flex;
    justify-content: center;
}

#buttonContainer img {
    height: 50px;
    margin: 10px;
}


/**************************************************
Main Survey Items
***************************************************/
#surveyContainer {
    border: 1px solid black;
    margin: 10px 0px;
}

.questionAndAnswerContainer {
    border-bottom: 1px solid black;
    margin: 10px;
}

    .question {
        font-weight: bold;
        padding: 10px;
    }

    .answer {
        margin-bottom: 10px;
    }

        .multipleChoice {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-direction: column;
        }

            .multipleChoice label {
                display: flex;
                margin: 10px 0px;
                padding: 10px 30px;
                min-width: 150px;
                border: 1px solid RGB(200, 200, 200);
            }

            .multipleChoice input[type="radio"] {
                opacity: 0;
                position: fixed;
                width: 0;
            }

            .multipleChoice input[type="radio"]:checked + label {
                display: flex;
                background-color: RGB(236, 240, 246);
                border-color: RGB(2, 72, 196);
            }

        .ranking {
            display: flex;
            justify-content: center;
        }
    
            .ranking label {
                padding: 10px 0px;
                border: 1px solid RGB(200, 200, 200);
                flex-basis: 20%;
                text-align: center;
                width: 100%;
            }
        
            .ranking input[type="radio"] {
                opacity: 0;
                position: fixed;
                width: 0;
            }
        
            .ranking input[type="radio"]:checked + label {
                background-color: RGB(236, 240, 246);
                border-color: RGB(2, 72, 196);
            }


/**************************************************
Media Queries
***************************************************/
@media only screen and (min-width: 1008px) {
    #header {
        height: 80px;
    }

    #contentContainer {
        max-width: 1000px;
    }

    #progressBarBackground {
        max-width: 1000px;
    }

    .answer input[type="number"], input[type="date"] {
        max-width: 50%;
    }
  }